/* Reset básico para asegurar consistencia */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

header {
    background: #005691;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

.perfil-foto img {
    border-radius: 50%;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

h1, h2 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

/* Estilos para las secciones principales */
section {
    background: #fff;
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Estilos para la navegación en el footer */
footer nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
}

footer p {
    text-align: center;
    margin-top: 20px;
}

/* Iconos de redes sociales */
.fa-linkedin, .fa-github {
    color: #005691;
}

/* Estilos para el formulario */
form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    background: #005691;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: #003f5f;
}

/* Responsive Design */
@media (max-width: 768px) {
    .perfil-foto img {
        display: none;
    }
    
    header {
        text-align: center;
        padding: 20px;
    }
}

/* Contenedor del interruptor del tema */
.theme-switch {
    position: fixed; /* O puedes usar 'absolute' dependiendo de la estructura de tu página */
    top: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
}

/* Estilización del botón */
#toggle-theme {
    cursor: pointer;
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    padding: 10px 20px;
    background-color: #4baff1; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
}

/* Estilos para el botón en el modo oscuro */
.dark-theme #toggle-theme {
    background-color: #333; /* Fondo más oscuro para el botón en modo oscuro */
    color: #ffffff; /* Mantén el texto claro para contraste */
}

/* Efecto al pasar el mouse */
#toggle-theme:hover {
    background-color: #000000; /* Color de fondo al pasar el mouse */
    color: #ffffff; /* Mantén el texto claro para contraste */

}

/* Efecto al pasar el mouse en el modo oscuro */
.dark-theme #toggle-theme:hover {
    background-color: #ffffff; /* Fondo más claro al pasar el mouse en modo oscuro */
    color: #000000; /* Mantén el texto claro para contraste */

}

/* Estilos para el Modo Oscuro */
.dark-theme {
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}

.dark-theme .container {
    background-color: #242424; /* Fondo más oscuro para el contenedor en modo oscuro */
}

/* Asegúrate de especificar los estilos para todos los elementos que deben cambiar */
.dark-theme a, .dark-theme p {
    color: #bbbbbb; /* Ajustar los colores para una mejor legibilidad en modo oscuro */
}

/* Ejemplo para botones o enlaces */
.dark-theme button, .dark-theme a {
    background-color: #333; /* Fondo más oscuro para botones/enlaces */
    color: #ffffff; /* Texto claro para botones/enlaces */
}

/* Ejemplo para botones o enlaces */
.dark-theme body{
    background-color: #000000; /* Fondo más oscuro para botones/enlaces */
}