/* Reset básico para asegurar consistencia */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animación para el hover en las secciones */
section:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    transition: transform 0.3s ease;
}

.footer-content{
}

/* Animación para el hover en los elementos de la lista del footer */
footer nav ul li:hover {
    transform: translateY(-5px); /* Desplaza ligeramente hacia arriba al pasar el mouse */
    transition: transform 0.3s ease;
}

/* Animación para el hover en los enlaces del footer */
footer nav ul li a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el mouse */
}

/* Animación para el hover en los botones del formulario */
form button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Agrega una sombra alrededor del botón al pasar el mouse */
}

/* Animación para el hover en los elementos de la barra de navegación del header */
header nav ul li:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
    transition: transform 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
    transition: background-color 0.8s ease, color 0.8s ease;
}

li{
    margin-left: 30px;
    font-size: 2.5vh;
}

#contacto{
    height: 168vh;
    width: auto;
}

.container {
    max-width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 12%;
    padding: 20px;
    padding-left: 30px;
    transition: background-color 0.8s ease, color 0.1s ease;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}

.header-content{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    transition: background-color 0.8s ease, color 0.1s ease;
    border-radius: 25px;
}

header {
    background: #005691;
    color: #ffff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

.perfil-foto {
    position: relative; /* Cambia el posicionamiento relativo del contenedor */
    display: inline-block; /* Ajusta el contenedor como un bloque en línea */
    margin-right: 20px; /* Ajusta el margen derecho para separar la imagen del texto */
}

.perfil-foto img {
    border-radius: 50%;
    max-width: 500%; /* Ancho máximo de la imagen */
    width: 20vh;
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: block; /* Ajusta la imagen como un bloque */
    margin: auto;
}

@media (min-width: 768px) and (max-height: 1176px) {
    .perfil-foto img {
        max-width: 20vh;
    }
}

#nombre{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 40px;
    font-size: 140%;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
    transition: color 0.3s ease; /* Suaviza el cambio de color de fondo */
}

h1, h2 {
    margin: 10px 0;
}

h3 {
    font-size: 2.5vh;
}

h2 {
    text-decoration: underline;
    font-size: 3.5vh;
}

p {
    margin: 10px 0;
    font-size: 2.5vh;
}

/* Estilos para las secciones principales */
section {
    padding: 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Estilos para la navegación en el footer */
footer nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
}

footer p {
    text-align: center;
    margin-top: 20px;
}


/* Iconos de redes sociales */
.fa-linkedin, .fa-github {
    color: #005691;
}

/* Estilos para el formulario */
form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    background: #005691;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: #003f5f;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        text-align: center;
        padding: 20px;
    }
}

/* Contenedor del interruptor del tema */
.theme-switch {
    position: fixed; /* O puedes usar 'absolute' dependiendo de la estructura de tu página */
    top: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
}

/* Estilización del botón */
#toggle-theme {
    cursor: pointer;
    font-size: 70%; 
    padding: 10% 20%;
    background-color: #000000; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
}

/* Estilos para el botón en el modo oscuro */
.dark-theme #toggle-theme {
    background-color: #ffffff; /* Fondo más oscuro para el botón en modo oscuro */
    color: #000000; /* Mantiene el texto claro para contraste */
}

/* Efecto al pasar el mouse */
#toggle-theme:hover {
    background-color: #ffffff; /* Color de fondo al pasar el mouse */
    color: #000000; /* Mantiene el texto claro para contraste */

}

/* Efecto al pasar el mouse en el modo oscuro */
.dark-theme #toggle-theme:hover {
    background-color: #000000; /* Fondo más claro al pasar el mouse en modo oscuro */
    color: #ffffff; /* Mantiene el texto claro para contraste */

}



#cargoYCorreo{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 40px;
    font-size: 100%;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
    transition: color 0.3s ease; /* Suaviza el cambio de color de fondo */

}


/* Estilos para el Modo Oscuro */
.dark-theme {
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}

.dark-theme #nombre{
    background-color: black;
    font-size: 140%;
    color: white;
    border-radius: 40px;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
    transition: color 0.3s ease; /* Suaviza el cambio de color de fondo */
}

.dark-theme #cargoYCorreo{
    background-color: black;
    border-radius: 40px;
    font-size: 100%;
    color: white;
    transition: background-color 0.6s ease; /* Suaviza el cambio de color de fondo */
    transition: color 0.6s ease; /* Suaviza el cambio de color de fondo */
}


.dark-theme .container {
    background-color: #242424; /* Fondo más oscuro para el contenedor en modo oscuro */
}

/* Asegúrate de especificar los estilos para todos los elementos que deben cambiar */
.dark-theme a, .dark-theme p {
    color: #ffff; /* Ajustar los colores para una mejor legibilidad en modo oscuro */
}

/* Ejemplo para botones o enlaces */
.dark-theme button, .dark-theme {
    background-color: #333; /* Fondo más oscuro para botones/enlaces */
    color: #ffffff; /* Texto claro para botones/enlaces */
}

/* Ejemplo para botones o enlaces */
.dark-theme body{
    background-color: #000000; /* Fondo más oscuro para botones/enlaces */
}

/* Ejemplo header */
.dark-theme header{
    background-color: #000000; /* Fondo más oscuro para botones/enlaces */
    transition: background-color 0.8s ease, color 0.1s ease;

}

